In [1]:
import pandas as pd

columns (axis=1)
rows (axis=0)

Settings

In [ ]:
# set colwidth maximum
# http://pandas.pydata.org/pandas-docs/stable/options.html
pd.set_option("display.max_colwidth",-1)

Read File into python

In [ ]:
# Read csv file into python
with open("filename", 'r') as csvfile:
    nba = pandas.read_csv(csvfile)

DataFrame manipulation

In [ ]:
# set column order
# put the order you want inside second []
df = df [['a','b','c']]


# Names of the columns in the dataframe
DF.columns.values
DF.columns.unique()

In [ ]:
Df[[colname]] # return colunm value with column name
Df[colname] # return colunm value without column name

Select all the numeric columns

In [ ]:
df.select_dtypes(include=[np.number])

Select all the non-numeric columns

In [ ]:
df.select_dtypes(exclude=[np.number])

Rowsum vs Columnsum

In [ ]:
counts.sum(axis=0)    # col
counts.sum(axis=1) # sum

pandas.Series.value_counts() method to display counts of how many times each category occurs

In [ ]:
pandas.Series.value_counts()

Use vector to filter your column based on the the sum/mean/median value

In [ ]:
word_counts = counts.sum(axis=0)

counts = counts.loc[:,(word_counts >= 5) & (word_counts <= 100)]

### Create new columns

In [ ]:
# Generating a familysize column

titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"]

### Vectorization operation over rows in the data frame

In [ ]:

# The .apply method generates a new series
titanic["NameLength"] = titanic["Name"].apply(lambda x: len(x))

### select rows and columns

In [ ]:
norm_reviews.ix[:5,['FILM', 'RT_user_norm']

#### Count unique value in your column
<img src="both_fandango_distributions.png">

In [ ]:
freq_counts = df['Fandango_Ratingvalue'].value_counts()
sorted_freq_counts = freq_counts.sort_index()

### create full 0 dataframe

In [ ]:
counts = pd.DataFrame(0, index=np.arange(len(clean_tokenized)), columns=unique_tokens)

*1) loop through list
*2) get the index/value correspondant

In [ ]:
for index, elem in enumerate(clean_tokenized):
    for word in elem:
        if word in unique_tokens:
            counts[word].iloc[index]+=1

#### X-axis rotation
We can rotate the x-axis tick labels by 90 degrees so they don't overlap. The xticks() function within pyplot lets you customize the behavior of the x-axis ticks. If you head over to the documentation for that function, it's not immediately obvious the arguments it takes:


matplotlib.pyplot.xticks(*args, **kwargs)
In the documentation for the function, you'll see a link to the matplotlib Text class, which is what pyplot uses to represent the x-axis tick labels. You'll notice that there's a rotation parameter that accepts degrees of rotation as a parameter. We can specify degrees of rotation using a float or integer value.

As a side note, if you read the documentation for pyplot, you'll notice that many functions for tweaking the x-axis have matching functions for the y-axis. For example, the y-axis counterpart to the xticks() function is the yticks() function.

Use what we've discussed so far to rotate the x-axis tick labels by 90 degrees.

In [ ]:
plt.plot(first_twelve['DATE'], first_twelve['VALUE'])
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Select one row containing specific data
selected_player = nba[nba["player"] == "LeBron James"].iloc[0]
distance_columns = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts']

import math 

def distance_calculation(row):
    inner_value = 0
    for k in distance_colunms:
        inner_value += (row[k] - selected_player[k]) ** 2
    return math.sqrt(inner_value)
        
# calculating row difference by using apply
lebron_distance = nba.apply(euclidean_distance, axis=0)    

# select a bunch of the numeric columns
nba[distance_columns]


# Using .mean() on a dataframe will return the mean of each column.
# Using .std() will return the standard deviation of each column.

'''
Normalisation
'''
nba_normalized = (nba_numeric-nba_numeric.mean())/nba_numeric.std() # Vectorization


from scipy.spatial import distance

# Fill in NA values in nba_normalized
nba_normalized.fillna(0, inplace=True)

# Find the normalized vector for lebron james.
lebron_normalized = nba_normalized[nba["player"] == "LeBron James"]

# Find the distance between lebron james and everyone else.
euclidean_distances = nba_normalized.apply(lambda row: distance.euclidean(row, lebron_normalized), axis=1)





'''
divide the training and test by randomly shuffle the index of the row
'''
import random
from numpy.random import permutation

# Randomly shuffle the index of nba.
random_indices = permutation(nba.index)

# Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
test_cutoff = math.floor(len(nba)/3)

# Generate the test set by taking the first 1/3 of the randomly shuffled indices.
test = nba.loc[random_indices[1:test_cutoff]]

# Generate the train set with the rest of the data.
train = nba.loc[random_indices[test_cutoff:]]

#### Remove NA .dropna()

In [ ]:
#Any row with any missing values will be removed
new_titanic_survival = titanic_survival.dropna()
# Conditionnal drop na ( column value)
titanic_survival.dropna(subset=["age", "sex"])

Missing Data
When you used .describe() on the titanic dataframe in the last screen, you might have noticed that the Age column has a count of 714 when all the other columns have a count of 891. This indicates that there are missing values in the Age column -- the count is of non-missing (null, NA, or not a number) values.

This means that the data isn't perfectly clean, and we're going to have to clean it ourselves. We don't want to have to remove the rows with missing values, because more data helps us train a better algorithm. We also don't want to get rid of the whole column, as age is probably fairly important to our analysis.

There are many strategies for cleaning up missing data, but a simple one is to just fill in all the missing values with the median of all the values in the column.

We can select a single column by indexing the dataframe like a dictionary. This gives us a pandas series:


titanic["Age"]
We can then use the .fillna method on the series to replace any missing values. .fillna takes one argument, the value to replace the missing values with.

In our case, we want to fill with the median of the column:



### .fillna(titanic["Age"].median())
### We then have to assign the result back to the column to replace it:

In [ ]:
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())

### Dummy Variables

Converting The Sex Column
The Sex column is non-numeric, but we want to keep it around -- it could be very informative. We can convert it to a numeric column by replacing each gender with a numeric code. A machine learning algorithm will then be able to use these categories to make predictions.

To do this, we first have to find all the unique genders in the column (we know male and female are there, but did whoever recorded the dataset use another code for missing values?). We'll also assign a code of 0 to male, and a code of 1 to female.

We can select all the male values in the Sex column with:

In [ ]:
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0
titanic.loc[titanic["Sex"] == "male", "Sex"] = 0

### Replace the missing values with value

titanic.loc[titanic["Embarked"].isnull(), "Embarked"] = "S"

### -----------------------------------------------------ML------------------------------------------------------------------------------------

#### Split train test data set
We pass in .2 for the test_size parameter to select 20% of the rows randomly for our test set, and 80% for our train set.

In [ ]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(counts, submissions["upvotes"], test_size=0.2, random_state=1)

### Mean square error

Our MSE is 2181, which is a fairly large value. There's no hard and fast rule about what a "good" error rate is, because it depends on the problem you're solving, and your error tolerance. In this case, the mean number of upvotes is 10, and the standard deviation is 39.5. If we take the square root of our MSE to get error in terms of upvotes, we get 46.7. This means that our average error is 46.7 upvotes away from the true value. This is higher than the standard deviation, so our predictions are often far off base.

In [1]:
def func():
    return 1,2,3

(e,f) = func()

ValueError: too many values to unpack (expected 2)

In [12]:
import pandas as pd
import numpy as np

In [7]:
age = ['0-17','17-25','25-33']

test_age = pd.DataFrame.from_records(age)

In [10]:
test_age = pd.DataFrame(['0-17','17-25','25-33'], columns=['e'])

In [17]:
test_age.e.apply(lambda x :(np.array(x.split('-'),dtype = int).sum())/x.shape )

AttributeError: 'str' object has no attribute 'shape'

In [16]:
test_age.e.apply(lambda x :(np.array(x.split('-'),dtype = int).mean()))

0     8.5
1    21.0
2    29.0
Name: e, dtype: float64