In [1]:
def func():
    return 1,2,3

In [3]:
func()

(1, 2, 3)

In [5]:
[e,f] = func()

ValueError: too many values to unpack (expected 2)

In [7]:
(e,f) = [func(),func()]

In [13]:
import pandas as pd
import numpy as np

In [11]:
test= pd.DataFrame(['0-17','17-25'],columns = ['age'])

In [12]:
test

     age
0   0-17
1  17-25

In [17]:
test.age.apply(lambda x : (np.array(x.split('-'),dtype = int).sum())/len(test.age))

0     8.5
1    21.0
Name: age, dtype: float64